<nav class="navbar navbar-expand-lg ">
  <div class="d-flex flex-grow-1">
    <div class="text-right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon class="navbar-toggler-icon">menu</mat-icon>
      </button>
    </div>
    <a class="navbar-brand d-lg-inline-block" routerLink="/" >Mic.us</a>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar">
    <ul class="navbar-nav ms-auto flex-nowrap">
      <li class="nav-item">
        <a routerLink="/" class="nav-link m-2 menu-item nav-active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link m-2 menu-item" *ngIf="!(userService.isLoggedIn | async)">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/profile" class="nav-link m-2 menu-item" *ngIf="userService.isLoggedIn | async">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="nav-link m-2 menu-item" *ngIf="userService.isLoggedIn | async" (click)="userLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
