<div class="container">
  <div class="card">
    <div class="card-title">Login</div>
    <div class="card-body">
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field hideRequiredMarker appearance="outline">
          <mat-label>Username</mat-label>
          <input type="text" formControlName="username" matInput placeholder="Insert your username" />
          <mat-error *ngIf="this.loginForm.controls['email'].hasError('required')">
            Username is required
          </mat-error>
          <mat-error *ngIf="this.loginForm.controls['email'].hasError('maxlength')">
            Username must have a maximum length of 150 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field hideRequiredMarker appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Insert your email" />
          <mat-error *ngIf="this.loginForm.controls['email'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="this.loginForm.controls['email'].hasError('email')">
            Wrong format for email: john@example.com
          </mat-error>
        </mat-form-field>
        <mat-form-field  hideRequiredMarker appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Insert your password" />
          <mat-error *ngIf="this.loginForm.controls['password'].hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
        <button type="submit" [disabled]="!this.loginForm.valid" mat-raised-button [mtBasicSpinner]="this.loading" [hideText]="true">Login</button>
      </form>
    </div>
  </div>
</div>
